---
import PostList from "@/components/blocks/PostList.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCategoryMap } from "@/utils/post";
import { getCategories } from "@/utils/post";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async () => {
  const categories = await getCategories();

  return categories.map((category) => ({
    params: { slug: category.data.slug },
    props: {
      category,
    },
  }));
}) satisfies GetStaticPaths;

const { category } = Astro.props;
const categoryMap = await getCategoryMap();
const posts = categoryMap.get(category.data.name) || [];
---

<BaseLayout title={`${category.data.name} · 分类`}>
  <div class="space-y-8">
    <div>
      <h2 class="text-xl font-semibold">{category.data.name}</h2>
      <p class="mt-2 text-sm text-muted-foreground">
        {category.data.description}
      </p>
      <p class="mt-1 text-xs text-muted-foreground">共 {posts.length} 篇文章</p>
    </div>
    <PostList posts={posts} />
  </div>
</BaseLayout>
