---
import { AppWindow, Github } from "@lucide/astro";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<div class="my-3 flex gap-5 rounded-md p-5 hover:bg-muted">
  {
    project.data.image && (
      <Image
        loading="eager"
        class="h-20 w-20 rounded-md object-cover"
        width={80}
        height={80}
        src={project.data.image}
        alt={project.data.imageAlt || project.data.name}
      />
    )
  }
  <div class="space-y-1">
    <h2 class="text-xl font-medium">{project.data.name}</h2>
    <p>{project.data.description}</p>
  </div>

  <div class="flex flex-col justify-between">
    {
      project.data.github && (
        <a href={project.data.github} aria-label="github">
          <Github />
        </a>
      )
    }
    {
      project.data.demo && (
        <a href={project.data.demo} aria-label="demo">
          <AppWindow />
        </a>
      )
    }
  </div>
</div>
