---
import { formatRelativeDate } from "@/utils/date";
import { getCategory } from "@/utils/post";
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";
import Card from "./Card.astro";

interface Props {
  category: string;
  posts: CollectionEntry<"posts">[];
}

const { category: categoryName, posts } = Astro.props;
const category = await getCategory(categoryName);
const updatedAt =
  posts.length > 0
    ? formatRelativeDate(posts[0].data.updatedAt || posts[0].data.createdAt)
    : "never";
---

<Card
  href={`/categories/${category?.data.slug}`}
  title={category?.data.name}
  class="flex flex-col gap-3 p-4"
>
  <h2 class="text-lg font-semibold">
    {category?.data.name}
  </h2>
  <p class="text-sm text-muted-foreground">
    {category?.data.description}
  </p>
  <div
    class="mt-auto flex items-center justify-between text-xs text-muted-foreground"
  >
    <span class="flex items-center gap-1">
      <Icon name="tabler:news" class="h-3.5 w-3.5" />
      {posts.length}篇文章
    </span>
    <span class="flex items-center gap-1">
      <Icon name="tabler:clock" class="h-3.5 w-3.5" />
      {updatedAt}
    </span>
  </div>
</Card>
