---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import Card from "./Card.astro";

interface Props {
  friend: CollectionEntry<"friends">;
}

const { friend } = Astro.props;
---

<Card
  href={friend.data.homepage}
  title={friend.data.website}
  class="flex items-center gap-3 px-4 py-4"
>
  <div>
    <Image
      src={friend.data.avatar}
      width={54}
      height={54}
      alt={`${friend.data.website}'s avatar`}
      class={"rounded-full border-5 border-accent"}
    />
  </div>
  <div class="flex flex-col gap-2">
    <h2 class="font-medium">
      {friend.data.website}
    </h2>
    <div class="text-sm">
      {friend.data.description}
    </div>
  </div>
</Card>
