---
import { formatDate } from "@/utils/date";
import type { CollectionEntry } from "astro:content";
import Card from "./Card.astro";
import { Image } from "astro:assets";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<Card href={`/${post.id}`} title={post.data.title} class="group p-3">
  {
    post.data.cover && (
      <div class="h-32 overflow-hidden">
        <Image
          src={post.data.cover}
          alt={`${post.data.title}'s cover`}
          class="h-32 transition-all duration-300 ease-linear group-hover:scale-110"
        />
      </div>
    )
  }

  <h2 class="mt-2 min-w-0 shrink overflow-hidden text-nowrap text-ellipsis">
    {post.data.title}
  </h2>
  <time
    class="shrink-0 text-sm tracking-tighter text-nowrap opacity-75"
    datetime={post.data.createdAt.toISOString()}
  >
    {formatDate(post.data.createdAt)}
  </time>
</Card>
