---
import { formatDate } from "@/utils/date";
import type { CollectionEntry } from "astro:content";
import Card from "./Card.astro";
import { Image } from "astro:assets";

interface Props {
  post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<Card
  href={`/${post.id}`}
  title={post.data.title}
  class="group flex flex-col p-4"
>
  {
    post.data.cover && (
      <div class="mb-3 h-40 overflow-hidden rounded-sm">
        <Image
          src={post.data.cover}
          alt={`${post.data.title}'s cover`}
          class="h-full w-full object-cover transition-transform duration-300 group-hover:scale-105"
        />
      </div>
    )
  }

  <h2 class="mb-2 line-clamp-2 text-lg leading-snug font-semibold">
    {post.data.title}
  </h2>

  {
    post.data.summary && (
      <p class="mb-3 line-clamp-2 text-sm text-muted-foreground">
        {post.data.summary}
      </p>
    )
  }

  <time
    class="mt-auto text-xs text-muted-foreground"
    datetime={post.data.createdAt.toISOString()}
  >
    {formatDate(post.data.createdAt)}
  </time>
</Card>
